INSTALL_DIR="F:/Github/arma-server-updater/staging/steam/"
CHECK_DIR="F:/Github/arma-server-updater/staging/steam/steamapps/workshop/content/107410/"

ARMA_DIR="N:/SteamLibrary/steamapps/common/Arma 3/"
CONFIG_DIR="F:/Github/arma-server-updater/updater/config/"

DISCORD_WEBHOOK=''
SERVERS_JSON_FILE="F:/Github/arma-server-web-admin/servers.json"
STEAMCMD_PATH="C:/Applications/SteamCMD"