

#No needs to save logs or saved mods/dlcs.
logs/*
staging/*
output_test/*
presets/*

#Tags
.notified
.running
.update
.env
__pycache__/process_html.cpython-39.pyc
testing/killcounts.txt
testing/killcounts_output.png
testing/logs.rpt
/.idea
/__pycache__
